@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background-color: #212529;
    display: flex;
    justify-content: center;
}

span {
    color: #fff;
    font-size: 1.6rem;
}

.container {
    width: fit-content;
    margin-top: 5rem;
    gap: 4rem;
    display: flex;
}

.right-pane {
    width: 52rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.board-container {
    width: 100%;
    position: relative;
}

#chessboard {
    width: 100%;
}

.board-b72b1 {
    border: none !important;
    border-radius: 0.5rem !important;
    overflow: hidden;
}

.piece-417db {
    pointer-events: none;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay span {
    font-size: 10rem;
    font-weight: 500;
    opacity: 0.8;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    transition: all 0.2s linear;
}

#start-btn {
    background-color: rgb(54, 146, 231);
}

#reset-btn {
    background-color: rgb(230, 57, 70);
}

#start-btn:hover {
    background-color: rgba(54, 146, 231, 0.8);
}

#start-btn:active {
    background-color: rgb(54, 146, 231);
}

#reset-btn:hover {
    background-color: rgba(230, 57, 70, 0.8);
}

#reset-btn:active {
    background-color: rgb(230, 57, 70);
}

.left-pane {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.settings,
.score-x-timer-container {
    width: 32rem;
    padding: 2rem;
    border-radius: 0.25rem;
    background-color: #353535;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.themes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.options {
    display: flex;
    justify-content: space-between;
}

.board {
    width: 5rem;
    height: 5rem;
    border-radius: 0.25rem;
}

.board img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#brown {
    box-shadow: 0 0 2px 0.5rem rgba(0, 119, 182, 0.5);
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.switch {
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    border: 2px solid #414141;
    border-radius: 50px;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.4em;
    width: 1.4em;
    left: 0.2em;
    bottom: 0.2em;
    background-color: white;
    border-radius: inherit;
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.switch input:checked + .slider {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border: 2px solid #0974f1;
}

.switch input:checked + .slider:before {
    transform: translateX(1.5em);
}

.score-container,
.timer-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.score-container span,
.timer-container span {
    font-size: 2rem;
}

#score,
#timer {
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
}
