@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #171513;
}

.container {
    width: 100%;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.board-container {
    align-self: flex-start;
    display: grid;
    grid-template-columns: repeat(8, 4rem);
    grid-template-rows: repeat(8, 4rem);
    position: relative;
}

.squares {
    display: flex;
    justify-content: center;
    align-items: center;
}

.squares:hover {
    cursor: pointer;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}

.chess-piece-white,
.chess-piece-black {
    font-size: 3rem;
    pointer-events: none;
}

.chess-piece-white {
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.overlay {
    position: absolute;
    color: white;
    font-size: 6rem;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.7);
    top: 50%;
    left: 50%;
    pointer-events: none;
}

/* ================================= Buttons ================================= */

.btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.btn {
    cursor: pointer;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    transition: all 0.2s linear;
}

.start-btn {
    background-color: rgb(54, 146, 231);
}

.reset-btn {
    background-color: rgb(230, 57, 70);
}

.start-btn:hover,
.start-btn:active {
    background-color: rgba(54, 146, 231, 0.8);
}

.reset-btn:hover,
.reset-btn:active {
    background-color: rgba(230, 57, 70, 0.8);
}

/* ================================= Buttons ================================= */

/* ================================= Settings ================================ */

.settings {
    width: 23rem;
    height: fit-content;
    margin-left: 4rem;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ================================= Settings ================================ */

/* ================================= Board Themes ============================ */

.board-themes {
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

.board {
    width: 4rem;
    height: 4rem;
    border-radius: 0.2rem;
}

.board img {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#brown {
    box-shadow: 0 0 2px 0.5rem rgba(0, 119, 182, 0.5);
}

/* ================================= Board Themes ========================== */

/* ================================= Time Control ========================== */
.time,
.piece {
    width: 100%;
    height: 3.5rem;
    background-color: #383531;
    margin-bottom: 2rem;
    display: flex;
}

.infinite,
.second {
    width: 50%;
    color: #fff;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infinite,
.white-king {
    background-color: #d64f00;
}

.infinite span {
    letter-spacing: -3px;
}

.infinite:hover,
.second:hover,
.white-king:hover,
.black-king:hover,
.start-btn:hover {
    cursor: pointer;
}

/* ================================= Time Control ========================== */

/* ================================= Piece Control ========================= */

.white-king,
.black-king {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-king i,
.black-king i {
    font-size: 2rem;
}

.white-king i {
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.black-king i {
    color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}

/* ================================= Piece Control ========================= */

/* ================================= Score ================================= */

.progress-card {
    width: 20rem;
    background-color: #262421;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.score-container,
.timer-container {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score-text,
.timer-text {
    font-size: 2rem;
}

.score-value,
.timer-value {
    font-family: "Orbitron", sans-serif;
    font-size: 3rem;
}

/* ================================= Score ================================= */
